# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
config.php
sinedon.cfg
leginon.cfg
instruments.cfg
dmsem.cfg
jeol.cfg
fei.cfg
hht.cfg
tvips.cfg
leginon_session.cfg
gridhook.cfg
pyami.cfg
redux.cfg
ptolemy.cfg
remote.cfg
*.[oa]
*~
*.pyc
*.pyo
.DS_Store
*.dat
*.old
# build folders
appion/build
leginon/build
pyami/build
sinedon/build
pyscope/build
imageviewer/build
redux/build
myami_test/build
modules/*/build
slack/build
#Eclipse project files
.project
.pydevproject

