###########################################################################
## Each section name is the name of a Python module (without the .py).
## Options for each section are valid arguments to MySQLdb.connect:
##   host, db, user, passwd
## The Global section defines defauls for every section but can be overriden
## in each section.
###########################################################################

###########################################################################
## These globals are defaults for all other sections, but each section 
## can override them if necessary.
###########################################################################
[global]
#host: your_database_host
host: localhost
user: usr_object
passwd:

###########################################################################
## This is an example python->database mapping.
## The classes defined in exampledata.py describe the tables in the
## database configured in this section.
###########################################################################
[exampledata]
db: test1
user:	bob
passwd: asdf

[projectdata]
db: projectdb

[leginondata]
db: leginondb
