#####################################################################
## This config file describes the TEM and camera instruments that are
## physically connected to this host computer.  Each section describes
## one instrument.  The section heading is an arbitrary string label
## for that instrument
## 
## Simulation Instruments.  These are safe to use when you need to
## do a test without connecting to actual hardware.
## They have limited functionallity.
##   - simtem.SimTEM
##   - simccdcamera.SimCCDCamera
## 
## FEI Tecnai, using the Tecnai Scripting Interface
##   - tecnai.Tecnai
##
## FEI/Phillips CM Series TEM
##   - CM.CM
##
## Gatan cameras using Digital Micrograph.
## This requires that you have tecnaiccd.dll installed.
##   - gatan.Gatan
##
## Tietz/TVIPS Camera using various drivers.  Chose only the driver
## that works with your camera.  Optionally, you may also select
## the Simulation camera
##   - tietz.TietzSCX
##   - tietz.TietzPXL
##   - tietz.TietzPVCam
##   - tietz.TietzFC415
##   - tietz.TietzFastScan
##   - tietz.TietzSimulation
##
## TIA.  This will use TIA to communicate with your camera
##   - tia.TIA


## normally you want the simulated instruments available
[Sim TEM]
class: simtem.SimTEM

[Sim Cam]
class: simccdcamera.SimCCDCamera

