
A:link {
     color:	rgb( 0, 110, 140 );
     text-decoration: none;
}
A:visited {
     color:	rgb( 150, 0, 0 );
     text-decoration: none;
}
A:active {
    color:     rgb( 0, 180, 210 );
     text-decoration: none;
}
A:hover{
    color:     rgb( 0, 180, 210 );
     text-decoration: none;
}

DIV.bodytext { padding-left:3em; }
DIV.title  { font-size:10pt; text-indent: .5em; text-align: left} 
DIV.square { font-size:9pt; text-indent: 1em; text-align: left} 
DIV.hole   { font-size:9pt; text-indent: 2.8em; text-align: left}
DIV.expo   { font-size:9pt; text-indent: 4.6em; text-align: left}
DIV.presett { font-size:8pt; font-style: italic; text-align: left}
DIV.presetv { font-size:8pt; text-align: left}
DIV.comment { font-size:8pt; text-align: left}

SPAN.note_date {
        font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 8pt;
	color:#000000;
}

P.note_title {
	margin-top: 15pt;
	margin-bottom: 0pt;
        font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	color:#005A9C;
}

P.note_data {
	margin-left:1em;
        font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
}

H1, H2, H3, H4, H5, H6 {
        font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
	color:#005A9C;
}

H1 {
	margin-left:1em;
	font-size: 24pt;
}

H2 {
	font-size: 18pt;
}

H3 {
	font-size: 14pt;
}

H4 {
	font-size: 12pt;
	margin: .3em 0;
}

HR {
	height: 2px;
	border: none;
	color: #D4D0C8;
	background-color: #D4D0C8;
}

BODY {
	background-color: white;
        font-family: Arial,Helvetica,sans-serif;
}

.sf {
        font-family: Arial,Helvetica,sans-serif;
	font-size: 8pt;
}

.hf {
        font-family: Arial,Helvetica,sans-serif;
	font-size: 18pt;
}

.aptitle {
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 10pt;
	 font-weight: bold;
	 color: #993333;
}

.apcomment {
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 10pt;
	 color: #990000;
}

.green {
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 10pt;
	 color: #009900;
}

TD, TH {
        font-family: Arial,Helvetica,sans-serif;
	font-size: 10pt;
}

TD.ti1 {
	background-color:	rgb( 255, 204, 204 );
}

TD.ti2 {
	background-color:	rgb( 255, 221, 221 );
}

TD.dt1 {
	background-color:	rgb( 234, 234, 234 );
}

TD.dt2 {
	background-color:	rgb( 221, 221, 221 );
}

TD.viewdt1 {
	background-color:	rgb( 234, 234, 234 );
}

TD.viewdt2 {
	background-color:	rgb( 221, 221, 221 );
}

.bgcolor0 {
	background-color:	#FFFFFF;
}

.bgcolor1 {
	background-color:	#3B8AC6; 
}

.bgimg1{
	margin-left: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	
	background-repeat:repeat;
		overflow:hidden;
}

.bgcolor2 {
	background-color:	#006699;
}

.bgcolor3 {
	background-color:	#000000;
}
/* link for the header */
.header {
	text-decoration: none;
	font-size:10pt; 
}

A.header {
	text-decoration: none;
}

A.header:link {
     color:	rgb( 0, 110, 140 );
     text-decoration: none;
	margin-left:0em;
}
A.header:visited {
     color:	rgb( 0, 110, 140 );
     text-decoration: none;
}
A.header:active {
    color:     rgb( 0, 180, 210 );
     text-decoration: none;
}
A.header:hover{
    color:     rgb( 0, 180, 210 );
     text-decoration: none;
}

.textarea { 
	padding: 3px 4px;
	border: 1px solid #3366aa;
	font-family: Arial,Helvetica,sans-serif; font-size: 10pt }

INPUT.field {
	padding: 3px 4px;
	border: 1px solid #3366aa;
}

INPUT.button {
 background: #3366ff;
 color: #ffffff;
 font-weight: bold;
/*/*/
 border: 1px outset #bdcebb;
 font-size: 10px;
 voice-family: "\"}\"";
 voice-family: inherit;
 padding: 3px 4px;
/*  ns4. */
}

.button {
 background: #000000;
 font-size: 0px;
 padding: 1px 0px ;
}

.bt1{
  border: 1px solid #bdcebb;
}

.setting{
	vertical-align:bottom;
	background: #dcdad5;
	border: 1px solid #bdcebb;
	padding: 0px 1px ;
}

.datafield0
{
	color: #777777;
	font-weight: bold;
}

.tablebg 
{
	background-color: #EEEEEE;
}

.tableborder
{
	border:		 solid;
	border-collapse: collapse;
	border-color:    #D4D0C8;
}

.list1
{
display: inline;
}

#roundbox h1, #roundbox h2, #roundbox p {margin:0 10px;}

.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {background:#eeeeee; border-left:1px solid #999; border-right:1px solid #999;}
.xb1 {margin:0 5px; background:#999;}
.xb2 {margin:0 3px; border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px; margin:0 1px;}

.roundboxcontent {display:block; background:#eeeeee; border:0 solid #999; border-width:0 1px;}
